{% extends 'base.html' %}

{% block title %} index {% endblock %}

{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p class="card-text">{{ post.created_at }}</p>
                    <a href="#" class="card-link">update</a>
                    <a href="#" class="card-link">delete</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}